#info {
    background: #74b49b;
    color: #fff;
    text-align: center;
    padding: 20px;
     color: #d3f6d1;
    
}
#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.info-dino {
    margin: 20px;
}
.info-dino img {
    width: 180px;
    height: 180px;
    border-radius: 70%;
    border: 5px solid #c4e3cb;
}

@media (min-width: 480px){
    .info-dino {
        width: 41%;
    }
}
@media (min-width:1024px){
    .info-dino {
        width: auto;
    }
}